<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fresh.aftersale.mapper.AftersaleApprovalRecordMapper">

    <resultMap id="BaseResultMap" type="com.fresh.aftersale.entity.AftersaleApprovalRecord">
        <id column="id" property="id"/>
        <result column="aftersale_id" property="aftersaleId"/>
        <result column="approval_level" property="approvalLevel"/>
        <result column="approval_status" property="approvalStatus"/>
        <result column="approver_id" property="approverId"/>
        <result column="approver_name" property="approverName"/>
        <result column="approval_remark" property="approvalRemark"/>
        <result column="approval_time" property="approvalTime"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

</mapper>
