<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fresh.order.mapper.OrderLogMapper">

    <resultMap id="BaseResultMap" type="com.fresh.order.entity.OrderLog">
        <id column="id" property="id"/>
        <result column="order_id" property="orderId"/>
        <result column="order_no" property="orderNo"/>
        <result column="before_status" property="beforeStatus"/>
        <result column="after_status" property="afterStatus"/>
        <result column="operate_type" property="operateType"/>
        <result column="operate_remark" property="operateRemark"/>
        <result column="operator_id" property="operatorId"/>
        <result column="operator_name" property="operatorName"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

</mapper>
